# Wine Analysis

## Aron Sun and Jordan Foster

## CMSC320

### Introduction

Today, the mention of a wine is almost synonomus to its quality. In this regard, the question we wanted answered was is there some wines that are inheriently better than other wines? One way to judge the quality of wine is by setiment. Often setiment is generated by the consumer in the form of reivews on the internet. However, wine setiment is not only exclusive to the consumer but also to a small group of professional wine tasters. These professional are often critizced for rating wines randomly with no ryme or reason. So we wanted to answer the age old quesiton, do professional wine tasters really know what they are doing?

### Data Collection

There are alot of professional wine tasters, and thier reivews of wines can be found on many websites. However, we also found a precomplied dataset of professional wine reviews on kaggle.com that we decieded to use.

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [23]:
# raw data
wine_df = pd.read_csv("wine.csv")
reviews = wine_df
wine_df = wine_df.drop(['Unnamed: 0', 'description', 'designation', 'region_2', \
                        'taster_twitter_handle', 'title', 'taster_name'], axis=1)
wine_df.head()

,country,points,price,province,region_1,variety,winery
0,Italy,87,NaN,Sicily & Sardinia,Etna,White Blend,Nicosia
1,Portugal,87,15.0,Douro,NaN,Portuguese Red,Quinta dos Avidagos
2,US,87,14.0,Oregon,Willamette Valley,Pinot Gris,Rainstorm
3,US,87,13.0,Michigan,Lake Michigan Shore,Riesling,St. Julian
4,US,87,65.0,Oregon,Willamette Valley,Pinot Noir,Sweet Cheeks

### Data Cleanup

Numerical values are given to the columns with non-numerical values ('country', 'variety', 'province', 'region_1', 'variety', 'winery') in order for them to be used in the prediction of a wines score (points).

In [3]:
# assign numerical values to string columns
str_cols = ['country', 'variety', 'province', 'region_1', 'variety', 'winery']

for col in str_cols:
    wine_df[col] = pd.factorize(wine_df[col])[0]

wine_df

        country  points  price  province  region_1  variety  winery
0             0      87    NaN         0         0        0       0
1             1      87   15.0         1        -1        1       1
2             2      87   14.0         2         1        2       2
3             2      87   13.0         3         2        3       3
4             2      87   65.0         2         1        4       4
...         ...     ...    ...       ...       ...      ...     ...
129966        5      90   28.0         8        -1        3    5244
129967        2      90   75.0         2        13        4    7639
129968        4      90   30.0         5         5        7   10215
129969        4      90   32.0         5         5        2    5348
129970        4      90   21.0         5         5        7    2777

[129971 rows x 7 columns]

### Data Analysis

Shows simple prediction methods cant acurately predict the score of a wine based off of the parameters used above.

## Note:

idk which one we want to include

In [4]:
X = wine_df.drop(['points'], axis=1).to_numpy('int64')
y = wine_df['points']
X

array([[                   0, -9223372036854775808,                    0,
                           0,                    0,                    0],
       [                   1,                   15,                    1,
                          -1,                    1,                    1],
       [                   2,                   14,                    2,
                           1,                    2,                    2],
       ...,
       [                   4,                   30,                    5,
                           5,                    7,                10215],
       [                   4,                   32,                    5,
                           5,                    2,                 5348],
       [                   4,                   21,                    5,
                           5,                    7,                 2777]])

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### linear regression

In [6]:
model = linear_model.LinearRegression()
model.fit(X_train, y_train)
model.coef_

array([-4.65322373e-09, -5.12190002e-20, -8.97987985e-08, -5.55497060e-07,
       -1.03702589e-07, -8.99944557e-05])

In [7]:
model.score(X_test,y_test)

0.015686482142967195

### linear discriminant analysis

In [8]:
lda_model = LinearDiscriminantAnalysis()
lda_model.fit(X_train, y_train)

LinearDiscriminantAnalysis()

In [9]:
lda_model.score(X_test,y_test)

0.13279783337949713

### classification tree

In [10]:
dt_model = tree.DecisionTreeClassifier()
dt_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [11]:
dt_model.score(X_test,y_test)

0.2371587726587265

### kNN

In [20]:
n = int(np.floor(np.sqrt(len(wine_df))))
neigh = KNeighborsClassifier(n_neighbors=n)
neigh.fit(X_test, y_test)

KNeighborsClassifier(n_neighbors=360)

In [21]:
neigh.score(X_test,y_test)

0.15412550395469793

### Random Forrest

In [12]:
# takes a LONG time to run

rf_model = RandomForestClassifier(n_estimators=100)
rf_model.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
rf_model.score(X_test,y_test)

0.24965377158157143

**Note:** In all of these analysis the the text description of the review isnt used. If its included can we do better.